.main{
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
    width: 400px;
    margin: 100px auto;
}
.head_line{
    
}

.btn{
    padding: 20px 40px;
    background-color: black;
    color: white;
    border: 1px solid black;
    border-radius: 18px;
}

.box-container{
    width: 400px;
    margin: 2px auto;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    
}

.box{
    padding: 40px 40px;
    background-color: orangered;
    border-radius: 15px;

}

